body {
    background-color: #edaadf;
}

h1 {
    text-align: center;
    font-family: Sixtyfour;
    font-size: 52px;
    color: goldenrod;
}

h2 {
    font-family: 'Chakra Petch';
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}

.semantic {
    text-align: left;
    font-size: 20px;

}

p {
    font-size: 18px;
    font-family: 'Chakra Petch';
}

img{
    margin-left: 100px;
    padding: auto;
    float: right;
    width: 40%
    
}

table,
td,
th{
    text-align: center;
    border: solid 3px;
    border-collapse: collapse;
    border-color: black;
    margin-bottom: 50px;
    font-family: 'Chakra Petch';
}

.structure {
    width: 50%;
}

.centerTable {
    width: 80%;
}

th {
    font-size: 20px;
    background-color: #87126f;
    color: goldenrod;
}

td {
    font-size: 18px;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #87126f;
    
}

.Menu {
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'chakra petch';
    color: black;
    font-size: 20px;
}

/* Change the link color*/

li a:hover {
    background-color: goldenrod;
    padding: 14px 16px;
}
 /* footer */

footer{
    background-color: #87126f;
}

.footer {
    display: inline;
    font-weight: normal;
    font-size: 15px;
}

a[href*="http"] {
    background: url("github.png") no-repeat 100% 0;
    background-size: 16px 16px;
    font-size: 15px;
    font-family: 'chakra petch';
    color: black;
    text-decoration: none;
}

